[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
requests = "*"
twilio = "*"
phonenumbers = "*"
django-extensions = "*"
celery = "*"
redis = "*"
sentry-sdk = "*"
dj-database-url = "*"
django-celery-beat = "*"
django-celery-results = "*"
gunicorn = "*"
whitenoise = "*"
unittest-xml-reporting = "*"

[dev-packages]

[requires]
python_version = "3.7"
