[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
requests = "*"
twilio = "*"
phonenumbers = "*"
django-extensions = "*"
celery = "*"
redis = "*"
sentry-sdk = "*"
dj-database-url = "*"
django-celery-beat = {file = "https://github.com/celery/django-celery-beat/zipball/master"}
django-celery-results = "*"
gunicorn = "*"
django-timezone-field = "*"

[dev-packages]

[requires]
python_version = "3.7"
